@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-reverse {
  display: flex;
  width: max-content;
  animation: marquee-reverse 30s linear infinite;
}
